body {
    background-color: #eee;

}

.container-fluid {
    width: 82%;
    background: #fff;
    margin-top: 0;
}

.container-fluid.top-container {
    padding: 0;
}

.logo {
    width: 100%;
}

.main-header {
    background-color: #F72210;
    width: 100%;
}

.navbar {
    list-style-type: none;
    background-color: #fff;
    margin: 0;
}

.navbar li a {
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar .searchbar {
    align-items: center;
}

.navbar .searchbar input {
    width: 70px;
    padding: .2rem;
    border: none;
}

.section-title {
    color: #888;
    font-size: .9rem;
    text-transform: uppercase;
}

.author-img {
    width: 4.5rem;
}

.opinion .author {
    text-transform: uppercase;
}

.opinion .card-title,
.debate .card-title,
.latest-news .card-title {
    font-size: 1rem;
    font-weight: 700;
}

.debate-square-img,
.latest-news-img {
    width: 95px;
    height: 95px;
    border-radius: 0;
}

.heros .card img,
.culture .card img {
    width: 100%;
}

.more-stories .article-title {
    font-size: 1rem;
}

.more-stories .article-description {
    line-height: 1.4;
    font-size: .9rem;
}